[2019-08-12 17:52] john-harmony opened #1 "Support for Trust Wallet"
**Overview**
As part of Trust Wallet support for Harmony we need to ensure API Compatibility.
This aligns with [Harmony 1340](https://github.com/harmony-one/harmony/issues/1340)

**Background - Reference Material**
Communication
* via Telegram (Trust Wallet/Harmony)

Key Contact
* Mykola - https://github.com/kolya182

Documents
* https://trustwallet.com/
* https://developer.trustwallet.com/
* Harm

[2019-08-29 21:03] john-harmony opened #3 "Math Wallet Deliverables and SDK Dependencies"
**Additional  Math Wallet Features**
- [ ] 1. When using a mnemonic pass phrase to create a wallet  would like to be able to generate multiple accounts
- [x] 2. When doing a transfer would like to get the transaction hash returned (moving forward this may be a link to explorer)
- [ ] 3. Would like to see transaction history for an account
- [x] 4. Would be nice if the balance of the account update

[2019-09-09 07:36] hewigovens commented on #1
hi, we add a more detail new RPC / API requirements page here: https://developer.trustwallet.com/wallet-core/rpc-requirements

[2019-09-25 18:05] neeboo commented on #3
point 1: math wallet would not support this feature for all blockchain that integrated.
point 3: unless math wallet willing to runs a full-node, which does have some cost.

[2019-09-25 18:18] neeboo opened #5 "Milestones to 1.0 Release"
# Features
- [ ] Add missing RPC API to `Blockchain` class
- [ ] Fix broken types as much as possible(typescript)

# Documentation:
- [ ] Use `TypeDoc` to generate all function/feature api.
- [ ] Remake build script
- [ ] Make every intro `README.md` to each package
- [ ] Write guide for each package
- [ ] An api site can be accessed via gh-page

# Tests
- [ ] Increase test coverage to 75% in gene

[2019-10-30 16:00] martynasadomaitis opened #7 "v0.1.31 - TypeError: Object prototype may only be an Object or null - when calling contract method"
Hi,

We at [Monetha](https://www.monetha.io) are adapting our blockchain [SDK for verifiable data](https://github.com/monetha/js-verifiable-data) to Harmony blockchain. I have followed various examples in harmony-one repository and was successful so far. Along the way I have encountered an issue with `@harmony-js/core` SDK version `0.1.31` (latest at the time of writing), where error occurs when c

[2019-10-31 08:31] neeboo commented on #7
@martynasadomaitis thanks for the issue.I will be looking to it.

Please use v0.1.30 currently

[2019-10-31 09:53] neeboo commented on #7
@martynasadomaitis v0.1.32 released.

Would you test it out?

https://github.com/harmony-one/sdk/commit/8148f89f3ebe2cc634ba0bf8ea715670eb955a4f

[2019-10-31 10:07] #7 closed

[2019-12-05 06:44] mattlockyer opened #10 "addByKeyStore requires password of length > 0"
using `async addByKeyStore(keyStore: string, password: string): Promise<Account>`

It's impossible to pass in a password of length == 0, even though this may be a popular option for test accounts or local environments.

Version:
"@harmony-js/core": "^0.1.32"

Code to reproduce:
[code]

Temp fix for line 107 of account.js (dist):
[code]

[2019-12-07 05:47] neeboo commented on #10
Maybe I would provide another import method to put the keystore to account Map. Because initially,  I only think that if we can not decrypt an keystore , we should not own the privateKey behind.

[2019-12-12 03:06] Xing94 opened #11 "js和java助记词生成的账号不一致"
如题

[2019-12-12 18:37] yelllowsin opened #12 "HMY edit-validator ask for Absolute Path"
Trying to edit my validator on devnet by running the command bellow:

`./hmy staking edit-validator --validator-addr one1echapu535qgtc5ktkgjj3raec4x4gp0a2mh9ec --name Yelllowsin --identity Yelllowsin --website yelllowsin@harmony.one --security-contact Yellowsin --details "Maha Lakshmi" --rate 0.3 --min-self-delegation 2 --max-total-delegation 11000 --remove-bls-key 0xa8a0637c7e11e2ea82c23ec1c0dcae

[2019-12-12 18:40] yelllowsin commented on #12
Issue created in the wrong place. Reopening on the correct one.

[2019-12-12 18:40] #12 closed

[2019-12-12 21:14] rlan35 commented on #12
We should streamline the bls key format and not include the 0x for all places.

[2019-12-14 16:49] neeboo commented on #11
请用最新的版本，https://github.com/harmony-one/sdk/blob/master/README.md#install-from-npmyarn

[2019-12-16 05:48] neeboo commented on #11
已通知java sdk进行修复

[2019-12-16 16:30] mattlockyer opened #13 "Difference between one and 0x address when calling transfer and contract methods respectively."
Two functions: one to transfer ONE tokens and the other to transfer HRC-20 (HRC) smart contract tokens.

I feel like developers will have some trouble switching between bech32Address and address formats and fields in our SDK.

Is there any way to abstract away the ambiguity? Feel free to chat with me on discord `mattlock`.

[code]

[2019-12-17 12:05] neeboo commented on #13
in newTx. We accept both 0xchecksumed and bech32 addr. In contract params, currently it supports 0xchecksumed addr.

To convert address format for now. we can use crypto.getAddress(addr).checksum to convert.

I can convert the address internally when constructing the params. However there are risks such as user input raw base16(without checksumed).

I need further discussion about this issue, beca

[2019-12-17 18:18] neeboo commented on #13
one more thing.
[code]

The from here is not necessarily needed. Because when the txn is signed, it will be replaced as signer’s address.

[2019-12-18 09:00] neeboo commented on #13
@mattlockyer would you try this branch to see if it works for you.

https://github.com/harmony-one/sdk/tree/neeboo/contract

[2019-12-18 09:14] neeboo commented on #10
@mattlockyer
would you try this branch to see if the empty string encryption works for you

https://github.com/harmony-one/sdk/tree/neeboo/keystore

[2019-12-18 09:17] neeboo commented on #3
Since Math-Wallet has no plan to add features like point 1 and point 3. We should close here

[2019-12-18 09:17] #3 closed

[2019-12-18 09:18] neeboo commented on #1
I'm sure Trust Wallet is supported by core-team

[2019-12-18 09:18] #1 closed

[2019-12-25 05:54] neeboo commented on #11
Close due to https://github.com/harmony-one/harmonyj/issues/1

[2019-12-25 05:54] #11 closed

[2020-01-10 20:42] mattlockyer opened #15 "Empty Header on RPC events"
When listening for transaction receipts and confirmations, there is no block number returned from the socketConfirmation data. This causes the JS SDK to throw an error.

https://github.com/harmony-one/sdk/blob/72bbbed9b66a7775e7b7713d484926dfa693ab36/packages/harmony-transaction/src/transactionBase.ts#L220
[code]

The value of `data.params.result.Header` is empty.

This is a new issue based on upg

[2020-01-10 23:01] mattlockyer commented on #15
Example when calling contract method:

[code]
Using websockets.

`transactionHash` works fine.

`receipt` event never fires because SDK throws error.

![image](https://user-images.githubusercontent.com/321340/72192320-15268100-33ba-11ea-8d43-10a3ace0dcee.png)

[2020-01-11 15:47] neeboo commented on #15
@mattlockyer Since core protocol changes back and forward at this part. We might need to confirm with all testnets and mainnet.

[2020-01-13 17:47] mattlockyer commented on #15
I can still reproduce with the latest upstream master from harmony repo (running localnet)
[code]

Above is a patch for the transactionBase.ts that will allow contract transactions to continue.

Apply patch to here in transactionBase.ts:
https://github.com/harmony-one/sdk/blob/72bbbed9b66a7775e7b7713d484926dfa693ab36/packages/harmony-transaction/src/transactionBase.ts#L220

I want to raise the fla

[2020-02-03 18:02] john-harmony opened #16 "Create documentation for the SDK"
**Overview**
We'd like to create documentation for our developers. This will provide similar information as [ethereum's web3 documentation](https://web3js.readthedocs.io/en/v1.2.6/)

**Task Overview**
1. Decide on documentation tooling (e.g. [typedoc](https://typedoc.org/)
2. Familiarize yourself with the tools by generating sample documentation.
3. Decide on hosting mechanism (e.g. AWS or readthe

[2020-02-03 18:14] john-harmony commented on #16
Forked the repo for my local copy and did some initial work under the documentation branch
https://github.com/john-harmony/sdk/blob/documentation/docs/README.md

[2020-02-04 01:15] Renewwen commented on #16
I just created the draft documentation of our js-sdk, and deployed it on AWS s3, here is the link: https://harmony-js-sdk-doc.s3-us-west-1.amazonaws.com/index.html

[2020-02-04 18:53] john-harmony commented on #16
Steps for generating documentation with reference  Ethereum [web3.js documentation](https://github.com/ethereum/web3.js/tree/1.x/docs) process to generate [readTheDocs](https://web3js.readthedocs.io/en/v1.2.6/index.html)

1. [Table of Contents is defined](https://github.com/ethereum/web3.js/blob/1.x/docs/index.rst)
2. Create Overview
2.1 Getting Started
2.2 Promises
2.3 Glossary
3. API Reference -

[2020-02-05 00:26] Renewwen commented on #16
**Progress:**
1. Beautify the index page and put the general instruction into it.
2. Simplify the navigation bar, list 8 API packages reference on the it.
3. Add @annotation comments to every page, prepare for the next step.

The link is the same: https://harmony-js-sdk-doc.s3-us-west-1.amazonaws.com/index.html

[2020-02-06 19:38] Renewwen commented on #16
Start to revamp and create examples for our js-SDK.
- Test the APIs one by one to understand how each one work,
- Identify/list the missing feature.

Specifically, I am starting from the Blockchain class in the harmony-core package.

![image](https://user-images.githubusercontent.com/49959977/73972156-212c3280-48d5-11ea-9844-1c621cba665f.png)

[2020-02-06 23:02] Renewwen opened #18 "The param "returnObject" is not work in functions: getBlockbyHash and getBlockbyNumber"
### Position
`harmony-core/src/blockchain.ts`

### Questions
For two functions in `blockchain.ts`, `getBlockByHash` and `getBlockByNumber`,
There are three params: `blockNumber/blockHahs`, `returnObject`, `shardID`

**The param `returnObject` dose nothing.**

### Functions:
[code]
[code]

### Expectation
The type`returnObject` is `boolean`:
- `true`: the returned block will contain all transaction

[2020-02-07 01:45] Renewwen commented on #16
### Position:
`harmony-core/Blockchain`

### New Issues:
[The param "returnObject" is not work in functions: getBlockbyHash and getBlockbyNumber](https://github.com/harmony-one/sdk/issues/18#issue-561321391)

### Has revamped:
[code]

### Has hidden:
[code]

[2020-02-08 01:30] Renewwen commented on #16
### Hierarchy rebuild
1. added contents to the index page for each sub-folder!
2. hidden the necessary information of navigation bar

### APIs revamped:
[code]

[2020-02-09 14:07] neeboo commented on #18
These option came from Geth, the sdk is designed to adapt from ethereum to Harmony.

Michael So

-------------
neeboo@FireStack

Team Github:
https://github.com/FireStack-Lab

Team WebSite:
https://firestack.one/

On Feb 7, 2020, 7:02 AM +0800, Wayne Zhang <notifications@github.com>, wrote:

[2020-02-11 03:29] Renewwen commented on #16
1. revamped the package: harmony-core
2. optimized the other package, hidden some unnecessary information.

[2020-02-14 02:46] Renewwen commented on #16
For the package: `Account`, revamped:
[code]

[2020-06-04 06:40] asmitadhungana opened #23 "web3_clientVersion not supported in the TruffleProvider"
I've been working on a team project over harmony. For setting up the contract to be upgradeable, we used OpenZeppelin CLI along with @openzeppelin-upgrades library...
It works fine when deployed in Ganache. However, an error is thrown when trying to deploy in the testnet for Harmony blockchain…
Below is the error i get when deploying on stable net using oz create:

oz create
Nothing to compile, al

[2020-06-04 12:29] peekpi opened #24 "cannot deploy contract"
In Ethereum, when the 'to' field of a tx is empty, it indicates that the tx is a contract deployment. But the SDK does not allow the 'to' field to be empty.

[2020-06-04 14:44] peekpi commented on #24
This is probably a bug in MathWallet Ext.

[2020-06-05 02:30] neeboo commented on #23
web3_clientVersion is actually an RPC method of the blockchain. We need support from rpc side or we need to understand when and where it will be called and wrap the method with custom result

[2020-06-05 05:49] asmitadhungana commented on #23
I didn't quite understand... can you elaborate it a little? What do you mean by the second sentence?

[2020-06-05 07:31] neeboo commented on #23
Just like Loom did it for their truffleProvider. We need to do the same. There is no such method in RPCs of Harmony‘s blockchain. We have to manually add the expected return to the TruffleProvider.

[2020-06-05 10:30] asmitadhungana commented on #23
I went through this... https://forum.openzeppelin.com/t/loom-support/1239
but still, I'm running around in circles trying to figure out what I need to do... how to actually solve this, does this mean I can't use OpenZeppelin SDK altogether for this? :'( How can I solve this? Please can you give a detailed example? or a way-around...?

[2020-06-05 12:23] neeboo commented on #23
Let me do some modification on my side to the sdk, and i'll make a branch later these days, and you can clone and try to see if it works on your side.

[2020-06-05 17:15] neeboo commented on #23
@asmitadhungana would you try this branch and see if it works for you

https://github.com/harmony-one/sdk/tree/truffle_provider

[2020-06-05 17:26] neeboo commented on #10
close due to https://github.com/harmony-one/sdk/commit/51d46f22a0394a281890d7710ba7897a4f01b36d

[2020-06-05 17:26] #10 closed

[2020-06-06 04:21] asmitadhungana commented on #23
Sure! Thanks!

[2020-06-08 09:43] asmitadhungana commented on #23
The build was checked by one of my seniors and it seems to be working individually... it is not however, working for the project

[2020-06-08 09:57] asmitadhungana commented on #23
Okay here's my abstracted package.json...

{
  "name": "y",
  "version": "1.0.0",
  "description": "game smart contract in solidity",
  "main": "truffle-config.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "repository": {
    "type": "git",
    "url": "git+https://gitlab.com/username/game-contract.git"
  },
  "author": "",
  "license": "ISC",
  "bugs": {

[2020-06-08 16:02] neeboo commented on #23
10.0+ is by default, personally i use v12.16.1

I think you would like to test on your local machine first follow this steps.

1. git clone my branch, to some folder say: "/dev/harmony-js"

2. go to "/dev/harmony-js", run

[code]

3. just go straight to your project javascript file, use relative path to point to the package

[code]

[2020-06-09 06:06] asmitadhungana commented on #23
@neeboo I tried the steps above... now I'm able to use your branch and deploy it to ganache... but still the error is persisting(the one which was occuring at first when I try to deploy it to the stable net...

/game-contract$ npx oz create
The create command is deprecated. Use deploy instead.
Nothing to compile, all contracts are up to date.
? Pick a contract to instantiate Game
? Pick a network

[2020-06-09 10:33] neeboo commented on #23
Can you post up your truffle-config.js here and the error log? @asmitadhungana

[2020-06-09 15:51] asmitadhungana commented on #23
Here's my truffle-config.js:

require('dotenv').config()
const { TruffleProvider } = require(''./harmony-js/packages/harmony-core'')
//Local
const local_mnemonic = process.env.LOCAL_MNEMONIC
const local_private_key = process.env.LOCAL_PRIVATE_KEY
const local_url = process.env.LOCAL_0_URL;

//Stable testnet
const stable_url = process.env.STABLE_TESTNET_0_URL; //https://api.s0.b.hmny.io

//Testnet
c

[2020-06-09 16:08] asmitadhungana commented on #23
for OpenZeppelin Cli, it's an interactive cli tool that I've used to make our smart-contract upgradeable...
by using commands:
oz compile: compiles the contract ~truffle compile
oz create: deploys the contract so that it can be upgraded later to a network specified when given the choice in this interactive command
like: oz create
?pick a network: development || stable || other_networks_in_truffle-

[2020-06-09 16:27] asmitadhungana commented on #23
and here's the error log:

asmee@asmee-Lenovo-ideapad-320S-14IKB:/media/asmee/H/Ibriz/projects/dice-contract$ npx truffle migrate --network stable --reset

Compiling your contracts...
===========================

   - solc: 0.5.7+commit.6da8b019.Emscripten.clang

Migrations dry-run (simulation)
===============================

1_initial_migration.js
======================

   Replacing 'Migrations

[2020-06-09 16:32] asmitadhungana commented on #23
The previous error for web3_clientVersion is however, obtained while deploying using " oz create "

[2020-06-10 08:00] asmitadhungana commented on #23
Hey @neebo, I've upgraded my truffle versions and oz/cli versions to latest ones... and i tried your fix again...
The error is persistent... just wanted you to know...
we need a fix asap...

$npx truffle migrate --network testnet --reset

Compiling your contracts...
===========================

Migrations dry-run (simulation)
===============================

1_initial_migration.js
================

[2020-06-10 09:02] asmitadhungana commented on #23
i realized that the inability to find "stable-fork" was due to dry-run while migrating...
now, the error's the same as for oz deploy:

$npx truffle migrate --network testnet --skip-dry-run --reset

Compiling your contracts...
===========================

Starting migrations...
======================

1_initial_migration.js
======================

   Replacing 'Migrations'
   ----------------------

[2020-06-10 09:08] asmitadhungana commented on #23
This is my truffle-config now only with two networks:

require('dotenv').config()

//const {TruffleProvider} = require('@harmony-js/core');
const { TruffleProvider } = require('./dev/harmony-js/packages/harmony-core');

const testnet_mnemonic = process.env.TESTNET_MNEMONIC
const testnet_private_key = process.env.TESTNET_PRIVATE_KEY
const testnet_url = process.env.TESTNET_0_URL

//GAS - Currently u

[2020-06-12 07:53] neeboo commented on #23
@asmitadhungana would you git pull my branch and try again?

[2020-06-15 03:41] asmitadhungana commented on #23
sure, thanks!

[2020-06-15 06:27] asmitadhungana commented on #23
Hey @neebo, I'm getting the following error while building your updated branch....
And one thing, as per my team member said just a while ago, the previous fix had worked for him... dk why it was throwing that error for me though!

asmee@asmee:/media/asmee/H/fix-test/harmony-js$ yarn dist
yarn run v1.22.4
warning package.json: "dependencies" has dependency "tslib" with range "^1.10.0" that collide

[2020-06-15 06:30] asmitadhungana commented on #23
I searched for this error and here's the link I got: https://github.com/codesandbox/codesandbox-client/issues/4281

[2020-06-15 14:03] asmitadhungana commented on #23
It however, got built in my partner's system... Idk why none of the builds are working for mine....
And now, we're getting error in execution of a function after it's gotten deployed...

[2020-06-15 14:10] neeboo commented on #23
Better cleanup your local project and try again.

[2020-06-15 14:10] neeboo commented on #23
Now what is the error you got?

[2020-06-15 16:35] asmitadhungana commented on #23
✖ Upgrading instance at 0xB9CE4120F4e2683E2025723C6fa40EE53d90b086 and calling 'initialize' with no arguments
✖ Upgrading instance at 0xB9CE4120F4e2683E2025723C6fa40EE53d90b086
Proxy dice-contract/Dice at 0xB9CE4120F4e2683E2025723C6fa40EE53d90b086 failed to upgrade with error: Error: gas required exceeds allowance (10000000) or always failing transaction

[2020-06-15 17:18] neeboo commented on #23
That i dont know how to solve. Maybe its the gas problem.

[2020-06-16 03:27] asmitadhungana commented on #23
I've already contacted the forum... Might be, I'm the active commentator in there at the moment...

They asked me to know the EVM version that Harmony is using... Can you let me know?

And I'll close this issue since the main problem's been solved. Thank you for all he help @neebo! Much appreciated!

[2020-06-16 06:00] neeboo commented on #23
It seems that it is related to ‘EVM‘ gas Limit. Since Harmony use EVM as its smart contract runtime however I am not sure it has the same gas setting to Ethereum. I will dig a bit and let you know

[2020-06-16 12:09] asmitadhungana commented on #23
Sure @neeboo , thanks a lot!
It's that the same contract works just fine for Rinkeby (Ethereum's testnet) but when it comes to harmony's testnet, it doesn't...

[2020-06-17 07:17] asmitadhungana commented on #23
@neeboo any asnwer yet?

[2020-06-24 06:39] vikramIde opened #28 "The truffleprovider version needs to be updated"
Hi Guys,

I had tried to compile one of the Ethereum smartcontract basically a NFT token standard, but it said the truffle version needs to updated to the latest.

the standard i was testing is ```ERC721Full```

Thanks

[2020-06-24 20:35] gupadhyaya commented on #28
@vikramIde need more information. can you copy paste the error you are getting and output of `truffle version`?

[2020-06-25 13:04] vikramIde commented on #28
@gupadhyaya Sure

[code]

[2020-06-26 06:25] Daniel-VDM opened #29 "Transactions to smart contracts fail silently"
While developing a dapp, I sent a transaction to a smart contract with insufficient gas. However, I got no indication that the transaction failed.

Now that the `hmy_sendRawTransaction` RPC returns an error if the transaction is unable to be submitted to the mem-pool, such errors should be 'reportable'.

Quickly inspecting the SDK, I found the following snippet:
https://github.com/harmony-one/sdk/

[2020-06-26 06:30] gupadhyaya commented on #29
@Daniel-VDM if you use `send` or `call` instead of `sendTransaction` it will get the receipt. `sendTransaction` api is made like this I guess. Also, you can see that, contract status is set to SENT and you are expected to call `confirm` following the call to `sendTransaction`. You can avoid these by directly using `send`.

[2020-06-26 06:37] gupadhyaya commented on #28
@vikramIde try changing the line to `pragma solidity ^0.5.3` , it will allow any higher versions of 0.5.x too compile.

[2020-06-26 06:44] Daniel-VDM commented on #29
@gupadhyaya Yes I followed such structure, here is a snippet:

[code]

Correct me if I'm wrong, but I noticed that the returned value of `hmy_sendRawTransaction` is expected to be the transaction `id` (or hash).
Here is the snippet:
https://github.com/harmony-one/sdk/blob/f90792fd917abe1c6cab8d5ad90df1ff41a4004b/packages/harmony-contract/src/methods/method.ts#L46-L57

The `id` is now `transaction

[2020-06-26 06:47] gupadhyaya commented on #29
for `send(options)` try manual gas like,
[code]

[2020-06-26 06:49] Daniel-VDM commented on #29
Setting the correct gas resolved the issue, but we should check and error if the transaction errored in my opinion.

[2020-06-26 07:15] vikramIde commented on #28
@gupadhyaya  sure let me try that

[2020-06-26 09:05] neeboo commented on #29
Thanks for pointing out, we should add error throwing before txn finished.

[2020-06-26 09:08] neeboo commented on #28
Truffle provider is only a bridge connecting harmony to truffle suite. It's not using any solc or compiler, so you should check with your '.sol' file

[2020-06-28 08:31] vikramIde commented on #28
@neeboo and @gupadhyaya

So I tried changing the lines

pragma solidity ^0.5.3;

But now I am getting a different error

[code]

[2020-06-28 19:18] gupadhyaya commented on #28
@vikramIde try using `Node v10`
here is my `truffle version`
[code]

[2020-06-29 15:38] gupadhyaya opened #30 "Contract call method assumes gasPrice as passed if options is provided in the call"
https://github.com/harmony-one/sdk/blob/master/packages/harmony-contract/src/methods/method.ts#L106

If options is not undefined, then it will assign options.gasPrice, which might not have been passed. Should check for `options.gasPrice` and assign, not simply `options`.

also do the same for gasLimit:
https://github.com/harmony-one/sdk/blob/master/packages/harmony-contract/src/methods/method.ts#L

[2020-06-29 16:56] ajaya-man opened #31 "Contract deployed but getting gasLimit error"
[code]
I can find the deployed contract at the transaction hash mentioned above but this error doesn't let the deployment of second contract.

Dependencies:
"@harmony-js/core": "^0.1.45",
 "dotenv": "^8.2.0",
 "openzeppelin-solidity": "2.4.0",
 "truffle": "5.1.3",
 "tslib": "^2.0.0"
Node Version: v10.16.3

[2020-06-29 17:32] ajaya-man commented on #31
NVM, It seems to be caused by an empty solidity file in the contracts folder. Removing that worked. Truffle compile did show warning about the empty file.
```Warning: Source file does not specify required compiler version! Consider adding "pragma solidity ^0.5.14;"```
Having this warning produced the above error.

[2020-06-29 17:32] #31 closed

[2020-06-29 23:02] HiroKryptor opened #32 "Create new contract will point to wrong address."
**Steps**
Create new contract with abi and address as params: `hmy.contracts.createContract(abi, contractAddress);`
**What expected?**
New contract instance will send to contractAddress
**What happend?**
New contract instance will send to options addresss.
**Suggestion**
Check if constructor with address will using this param don't using in options.address
**Code line?**
https://github.com/harmony

[2020-07-27 13:08] kraikov opened #36 "Event subscription doesn't respect the event topics."
After calling a single function that emits a single event, all event subscriptions are emitting in the SDK.

For example: If I call a function `newContract` that emits a single event (`NewContract`) and I've subscribed for `NewContract` and
`Withdraw` events, both event handlers are invoked for the `newContract` call.

[code]

[2020-07-27 13:37] kraikov commented on #36
This also breaks the SDK, because the decoder cannot decode the data. E.g. the decoder cannot decode the data for `NewContract` event when the `Withdraw` event data comes and vice versa.

![image](https://user-images.githubusercontent.com/7030722/88548089-48172600-d027-11ea-9629-a97f97b7b681.png)

[2020-07-27 14:23] gupadhyaya commented on #36
@kraikov Interesting. This should have worked correctly, as decoding is based on the event format specified in the abi. Let me take a look. Thanks.

[2020-07-27 15:05] kraikov opened #37 "Event subscription leads to out of memory exception."
10-20 minutes after subscribing for numerous events, there is `JavaScript heap out of memory` exception thrown.

1)
![image](https://user-images.githubusercontent.com/7030722/88558036-b366f500-d033-11ea-90f5-4ba3e9110284.png)

2)
![image](https://user-images.githubusercontent.com/7030722/88558062-bbbf3000-d033-11ea-9d07-f3803246fdf0.png)

[2020-07-27 15:40] kraikov commented on #36
Okay. Would be nice if there is a way to subscribe to all events or by given topics. I don't know how events are handled internally, but this could save network bandwidth.

[2020-07-27 20:08] michaelotis opened #38 "Contract call return of uint8 returns incorrect value"
A call to a public variable inside a contract that is of type uint8 returns integer value and not hex bytes value. For example, a call to a token contract's decimal variable will return 12 and not 0x12, which would equal an integer of 18.

[2020-08-05 16:37] ajaya-man opened #39 "Returned error: replacement transaction underpriced"
I got this error while using the openzeppelin cli to deploy contract instances.
[code]
I googled and the issue was mentioned here:
https://github.com/OpenZeppelin/openzeppelin-sdk/issues/55

which was further linked to:
https://github.com/trufflesuite/truffle-hdwallet-provider/issues/65

So, I was wondering if this issue is handled in our version of TruffleProvider

[2020-08-05 16:38] ajaya-man commented on #32
I had also faced the same issue, and workaround was to use 'to' parameter explicitly in the methods call.

[2020-09-07 16:37] denniswon opened #46 "ChainID enum being ambient const enums breaks react typescript production build"
[code]

[2020-09-07 20:13] #46 closed

[2020-10-15 08:47] peekpi commented on #29
#45 had fixed it.
https://github.com/harmony-one/sdk/blob/c49abc56916e6edf7aa959e38397ff280e47ec30/packages/harmony-contract/src/methods/method.ts#L54-L55

[2020-10-15 08:47] #29 closed

[2020-10-15 09:08] peekpi commented on #32
what's your code?
`this.options.address` should be `undefined`, so `this.address` is the `contractAddress`.

[2020-10-15 14:09] thelostone-mc opened #56 "help: generating a bundle using browserify"
#### Description

I'm trying to generate a bundle of the harmony sdk so that I can use in a django app.
I've tried generating one for `@harmony-js/core` and it fails as it is unable to find scrypt-shim which comes from
`@harmony-js/core`.
Could I some help in figuring how I'd go about including this package so that i can generate a js bundle that i can use in my app ?

[code]
https://github.com/th

[2020-10-15 14:11] thelostone-mc commented on #56
Doing a `npm i scrypt-shim` doesn't install

I've tried `npm i github:web3-js/scrypt-shim` but since that package has a diff name aka web3-js/scrypt-shim, it doesn't work either

[2020-10-15 19:07] neeboo commented on #56
https://github.com/harmony-one/sdk#bundle

see this section, run ```yarn dist``` will generate bundle in `dist` folder

[2020-10-15 21:41] #56 closed

[2020-10-15 21:41] thelostone-mc commented on #56
Thanks for this

[2020-10-20 12:46] thelostone-mc opened #57 "question : prompt for signature on harmony extension"
How would I prompt a txn to be signed via the harmony extension on the dapp?
This works perfectly fine when you add a private key but I won't be able to do that in a dapp.

[code]

[2020-10-20 12:56] neeboo commented on #57
https://github.com/harmony-one/onewallet/blob/master/readme/api.md

See this section

[2020-10-22 09:32] #30 closed

[2020-10-27 01:40] #57 closed

[2020-12-21 09:02] mpetrun5 opened #69 "Delegate and undelegate wrong amount type"
Amount of tokens to delegate and undelegate is typed as number, but expects amount in wei and is too big for number type.
If type ignored and amount is sent as hex string with wei amount it works.

[2021-03-16 02:57] kuyawa opened #78 "Typo in setMessenger method"
There is a typo in setMessegner, should be setMessenger

https://github.com/harmony-one/sdk/blob/794a590238f215ad6d5481b5515623e1f83f9d04/packages/harmony-contract/src/contract.ts#L121

[2021-04-03 05:10] billtlee opened #80 "Help with contract.wallet.addByPrivateKey"
so, i deployed an Ownable contract using my ONE wallet account, I then tried to call an onlyOwner function in the contract by using the send api, did contract.wallet.addByPrivateKey('private key of my ONE wallet account') to add the signing account to the wallet.  But I am getting the "Ownable: caller is not the owner was thrown".  Does anyone know why this might be happening?  When I call the own

[2021-04-16 02:27] isaacadams opened #83 "Missing "hmy_getBlocks""
I was playing around with the SDK and realized I wanted to minimize the amount of requests I was making through the getBlockByNumber method. I found there is a method to request a range of blocks in one call, but it is not available through the js SDK.

I recently made a PR which adds in the missing functionality.

[2021-04-18 20:27] polymorpher opened #85 "TruffleProvider (and HDNode wallet) incorrectly duplicates an address in account when setSigner is called"
Fixed by https://github.com/harmony-one/sdk/pull/84

The original code may have misused Array.splice(), also made a typo as `.slice()` instead.

[2021-04-18 20:32] polymorpher opened #86 "TruffleProvider (HDNode) wallet inadvertently generates a new account/address accompanied with a random private key and mnemonic"
Fixed by https://github.com/harmony-one/sdk/pull/84

The original code in the constructor of HDNode calls `this.getHdWallet(...)` with randomly generated mnemonic if none is supplied. This generates a new account in the process. This is undesirable when private keys are later added to the HDNode to associate accounts, causing confusion on choosing the right signer / making account operations.

[2021-04-18 20:36] polymorpher opened #87 "TruffleProvider is not processing web3.eth.getTransaction calls explicitly, causing errors"
With TruffleProvider as the provider, if one uses web3.eth.getTransaction(txHash) with a valid txHash, the web3 client would complain the underlying sender address `one1xxxxxx...` is not a valid Ethereum address. I noticed `hmy_getTransactionReceipt` is overloaded and handled in a special way in truffleProvider.ts, but not hmy_getTransaction. That may be the underlying reason for the error.

A wor

[2021-04-18 20:39] polymorpher opened #88 "Harmony RPC support on evm_increaseTime and evm_decreaseTime in test environments"
These RPC calls are provided by ganache-cli (https://github.com/trufflesuite/ganache-cli). They are necessary for creating tests for smart contracts that are time-dependent, e.g. spending limit, lock out, last resort, etc.

This may be out of the scope for this SDK, but it would be extremely helpful to have this implemented sooner or later.  Ideally there should something similar to ganache-cli, t

[2021-04-22 18:59] #83 closed

[2021-04-22 19:00] #85 closed

[2021-04-26 23:18] MaxMustermann2 opened #90 "Superfluous pop in getRLPSigned"
I see a set of three superfluous `raw.pop();` statements which appear to be removing information from the raw (encoded but not signed) staking transaction [here](https://github.com/harmony-one/sdk/blob/99a827782fabcd5f91f025af0d8de228956d42b4/packages/harmony-staking/src/stakingTransaction.ts#L204).

I believe these statements are callous because they are meant to be removing the `push`es which on

[2021-04-27 13:43] rachit2501 opened #91 "Dependency Problem with @harmony-js/core"
On importing ```TruffleProvider``` from ```@harmony-js/core``` and :

[code]

generates the following error:

![photo_2021-04-27_19-09-32](https://user-images.githubusercontent.com/43861614/116251672-81ceb600-a78c-11eb-96da-9e635c9c4706.jpg)

To reproduce:
- Use any project using ```@harmony-js/core```
- Remove ```node_modules```
- Reinstall ```node_modules```
- Rerun your project.

[2021-04-28 09:22] Tailchakra opened #92 "How to get a specific token off of the harmony blockchain"
Sorry for the - maybe obvious - question, but I seem to not be able to find how to address this in the documentation.

Currently I'm able to get the ONE balance off of my wallet using

[code]

Is it possible to retrieve the balance of a specific token on my wallet?

[2021-06-08 20:02] gupadhyaya opened #95 "Returned error: invalid address: 0x0000000000000000000000000000000000000000"
Running harmony localnet or node using ganache-cli is broken. Could be due to [this](https://github.com/harmony-one/harmony/issues/3660) change.

This error is similar to `truffle deploy` error as reported in this [post](https://www.reddit.com/r/Harmony_Devs/comments/nenhce/how_to_deploy_to_testnet_from_truffle/). For the truffle error, temporary work around was passing `-- skip-dry-run` option or

[2021-06-11 09:38] hmexx opened #96 "Running concurrent HRC20 token transfers, without an error."
Simply, is it possible?

Whenever we attempt to run two token transfers concurrently, using:

[code]
One of them fails with an error, usually: `transaction failed:replacement transaction underprice`

We could build a queuing system of course, but wondering if it's necessary.

Cheers

[2021-06-13 04:10] gupadhyaya commented on #96
passing the `nonce` to `send` function should allow for concurrent transfers.
[code]

[2021-07-02 21:11] hmexx opened #98 "Unable to catch errors some errors from the SDK in transactionBase.js"
For some reason I can't seem to gracefully recover from errors thrown in the SDK, despite using the `.on("error"` handler AND wrapping the send function a try catch block. Any ideas why that's the case? Sample code below:
[code]

And the error that's taking down the process below:

[code]

[2021-07-07 18:31] hmexx commented on #98
Any chance to get some feedback on the above? Not being able to recover gracefully from an error thrown by the SDK is kind of a deal-breaker, so curious to hear if I'm doing something wrong.

[2021-07-07 18:33] hmexx commented on #96
Super!

Any chance you could have a look at my other issue?

Thanks in advance.

[2021-07-07 18:33] #96 closed

[2021-07-08 02:07] gupadhyaya commented on #98
@hmexx can you try catching error inside `.on("confirmation", ...` block? looks like sdk emits confirmation (`=false`) even for the failure case: https://github.com/harmony-one/sdk/blob/master/packages/harmony-transaction/src/transactionBase.ts#L191

[2021-07-08 07:08] hmexx commented on #98
@gupadhyaya Hey!

Thanks for getting back to me. What would the above minimal code look like with your suggestion? I'm not super familiar with emitters but as you can see there is already an `.on("error, ...` in there.

[2021-07-08 10:31] neeboo commented on #98
Hi, @hmexx , can you try this

[code]

[2021-07-08 10:36] neeboo commented on #92
Specific tokens are to be fetched through contract methods. Not account class here

[2021-07-08 10:36] #92 closed

[2021-07-08 21:38] hmexx commented on #98
Hi There!

Thank you for suggesting this fix. I will try it out shortly and report back.

[2021-07-18 18:18] peekpi commented on #95
It look like that Ganache is unable to sync blocks from Harmony node. Query the latest block number from Ganache does not change. If Ganache connects to Geth, it will always return the latest block number.

[2021-07-23 09:38] hmexx commented on #98
I'm putting your suggestion into production now, although having had a second look at it, I think it might semantically identical to what I had before. Will let you know what happens. Unfortunately these uncaught SDK exceptions are very rare (once every couple weeks) so it might be a while.

[2021-07-23 09:45] neeboo commented on #98
They are not identical, since the eventEmitter happens before the Promise, the try catch only knows when the emitter ends. so the `await` only cares about the Promise, not the emitter itself.

[2021-07-29 10:37] hypnagonia commented on #95
currently known
eth_estimateGas is the method that fails
direct query to RPC works ok, while the same payload sent via Ganache fails

prob some different in headers or additional data

[2021-08-02 11:24] hmexx commented on #98
Afraid it didn't work. Exception from the SDK took down the process again:

[code]

Any ideas?

[2021-08-03 23:23] gupadhyaya commented on #95
fixed in this PR: https://github.com/harmony-one/harmony/pull/3837

[2021-08-03 23:23] #95 closed

[2021-08-03 23:29] gupadhyaya commented on #98
@neeboo @potvik

[2021-08-05 01:48] neeboo commented on #98
looks like it happened outside the txnBase.

[2021-08-17 06:25] DSBUGAY2 commented on #95
one1yr7j2xulp5z2z54sshvzzx0yque4wwsd6xw6zq

[2021-09-03 06:08] herzaso opened #102 "Can't use the SDK with vite"
After installing the crypto package via `yarn add @harmony-js/crypto` (installed v0.1.56), starting the application produces the following error:
[code]

[2021-09-12 20:20] toniton commented on #95
Hi @gupadhyaya!

Since this issue has been resolved, is it okay to remove the info from the documentation here: https://docs.harmony.one/home/developers/tools/using-ganache?

I have created a PR here: https://github.com/harmony-one/docs-home/pull/42

[2021-10-23 14:53] trekze opened #104 "RangeError: Maximum call stack size exceeded (during getTransactionCount)"
Hi

We're encountering another uncaught exception coming from the SDK. This time when we use the `blochamin.getTransactionCount()` API

[code]

Here is try-catch block in which the exception occurs:

[code]

Once this happens once, it keeps occuring until we restart the process.

Any thoughts/fixes/workarounds appreciated.

[2021-11-04 08:54] PandaSekh commented on #102
I tried to reproduce this with a minimal repo (vite with vue template) without success.
@herzaso do you have any plugin installed? Can you please post the package.json?

[2021-11-07 09:06] neeboo commented on #104
May I ask why you use while loop in your code.

[2021-11-07 09:58] hmexx commented on #104
Any chance to get at least a reply on the above?

I've noticed the SDK hasn't had attention in recent months. Is Harmony moving away from maintaining it?

[2021-11-07 14:28] hmexx commented on #104
Why do you ask? The while loop has no bearing on the exception generated by `.getTransactionCount` that comes before it.

[2021-11-07 14:35] neeboo commented on #104
Because if you are using ws api may cause the loop out of stack. So I want to figure out your purpose and come up with a workaround

[2021-11-07 19:05] hmexx commented on #104
Hi neebo. I'm still not sure what you mean. The while loop is being used to iterate through my own data structure. The call to `hmy.blockchain.getTransactionCount` is happening ONCE, before the while loop. and the call stack error is coming from inside the Harmony SDK. We are not calling the SDK in a loop.

[2021-11-08 03:59] neeboo commented on #104
ok. Please change harmony endpoint t https instead of websocket to see if the error disapear

[2021-11-08 14:41] hmexx commented on #104
We're already using the https endpoint.

[2021-11-16 22:00] hmexx commented on #104
Any ideas?

[2021-11-22 04:59] prayingmantissa opened #105 "Is it possible to delegate/undelegate ONE directly in solidity smart contracts?"
I see the Harmony SDK has features to delegate/undelegate by sending sgined transactions to an RPC using Typescript.

Is it possible to do the same thing in a solidity smart contract with a signed transaction from MetaMask or other wallets?

[2021-11-22 05:10] rlan35 commented on #105
It will be possible when this feature is launched. https://github.com/harmony-one/bounties/issues/77 It's currently under implementation.

[2021-11-23 09:15] hmexx opened #106 "Contract event listener stops receiving events"
Hi there.

Is it fair to say that the Harmony SDK should handle re-connects by itself when using the websocket API? See code below on how we listen for events on a smart contract. We've noticed at some point events stop coming through. We only deployed this yesterday, and it stopped overnight, so it may possibly be some kind of inactivity timeout?

Any guidance on options we should use to prevent

[2021-11-24 15:45] hmexx commented on #106
Happened again last night.

Could someone please let us know what the correct steps are to help the SDK not lose connection to incoming events?

[2021-12-10 19:08] rachit2501 commented on #106
Looks like something that might happen during a congested network perhaps. As such, I was unable to replicate, ran this script for almost 2hrs.

[code]

There is a function that you can call by doing `HARMONY_WS.reconnect()`, but ideally you shouldn't need it.

[2021-12-11 05:00] rachit2501 commented on #104
@hmexx can you share more details, like how have you initialized your `hmy`. I tried your own code with several different addresses including both, EOA and Contract Addresses.

[2021-12-14 08:43] hmexx commented on #106
We will try calling .reconnect() every hour and see if that resolves the issue.

[2021-12-14 08:49] hmexx commented on #104
How long did you run it for? We have to restart our process every few days and we average a withdrawal every couple of minutes. So a good test would be 2000 transactions during a mixture of normal and congested times (so that the occasional SDK error is mixed with successful transactions).

Here is our hmy initialization code:

[code]

[2021-12-14 15:54] matthewdowns opened #107 "Add method to access hmy_getTransactionHistory"
https://docs.harmony.one/home/developers/api/methods/transaction-related-methods/hmy_gettransactionshistory

[2021-12-15 10:32] hmexx commented on #106
Can you try listening to events over 48 hours instead of 2 hours? It's not uncommon for it to work for a large portion of a day before the events stop coming through.

[2021-12-21 09:43] hmexx commented on #104
Is there no way for someone to audit the code in the place the exception is thrown to see what could be causing the `RangeError` ? Are the original developers of the SDK still around? My original post has the stack trace.

[code]

[2021-12-21 17:59] validityone opened #108 "Remove encoding library bloat in @hamony-js/staking JavaScript SDK"
When analyzing a recent build, I noticed that @harmony-js/staking is causing my bundle size to blow up due to the use of "text-encoding", which is now a deprecated library.

![image](https://user-images.githubusercontent.com/84936084/146975450-50d48fa9-8279-4fe5-82b4-9b5d47e6c88f.png)

Reference: https://github.com/harmony-one/sdk/blob/3c7061887f25c6ba8def5af05672cdc4f44eb2dc/packages/harmony-stak

[2021-12-27 11:23] hmexx opened #109 "The transaction is still not confirmed after 20 attempts"
For as long as I can remember we occasionally get these errors coming back from the SDK. More so in the last 48 hours. Are these to be expected from the Harmony blockchain, or are they Harmony SDK specific and would disappear if we move to ethers/webjs?

Thank you for your help

[code]

[2022-01-02 11:16] hmexx commented on #104
Some more information which should be very helpful in getting to the bottom of this.

We get the same `Maximum call stack size error`, regardless of which contract method is called.

We have a process that checks blockchain HRC20 balances, and these start failing 100% of the time after 5000 or so. This happens every single time. So it should be very easy to replicate.

Just run the following:

`aw

[2022-01-03 12:45] neeboo commented on #104
Would you try adding a setTimeout to your loop and give the loop a proper exit?

[2022-01-04 15:35] hmexx commented on #104
We don't use a loop. The contract is called each time there is a withdrawal requested. And there's a delay between each call.

[2022-01-04 16:36] hmexx opened #110 "Another Harmony SDK bug `FetchError: invalid json response body at https://api.s0.t.hmny.io/ reason: Unexpected token < in JSON at position 0`"
This happens on occasion when calling the `transfer` method of our HRC20 contract.

The SDK doesn't recover from it.

[code]

[2022-01-04 16:48] neeboo commented on #110
Sorry to have you encountered so many problems, since the SDK has not been updated for a while. Maybe there are some issues undiscovered during this time, harmony's mainnet apis may have been changed or upgraded a lot.

Plus some of the dependencies of this SDK haven't been updated and may not be compatible for newer nodejs and browsers.

I may be the author of this sdk but actually been away from

[2022-01-12 05:27] nipund commented on #80
Did you manage to figure it out?

[2022-01-12 05:35] billtlee commented on #80
no, are you running into the same problem?

[2022-01-12 05:39] nipund commented on #80
Yeah. It works if you don't call estimateGas() and just use a predefined gas limit, as long as it's high enough.

[2022-01-12 05:49] billtlee commented on #80
okok, thx!

[2022-01-12 05:49] #80 closed

[2022-02-09 14:11] chybisov commented on #108
Came here to say exactly this. [TextEncoder](https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder) has native support a long time already and [text-encoding](https://www.npmjs.com/package/text-encoding) was deprecated three years ago 😃

@gupadhyaya @Renewwen @denniswon could you please look into this? Thank you!

[2022-03-01 06:46] yurenji opened #112 "invalid chain id for signer for"
I tried to create a transaction following the sdk example:
[code]

but got the following error msg:

[code]

Not sure why since only one chainId is provided.

[2022-04-04 14:57] signorbusi commented on #102
I created a minimal repo that reproduces the problem: https://github.com/signorbusi/vite-react-app

[code]

[2022-04-22 07:39] luciocc55 opened #113 "Invalid path on module field"
Inside the package.json of the lib this path is set as the module, but on the dist folder this file doesnt exist

 "module": "dist/index.esm.js",

This ends triggering an error
Failed to resolve entry for package "@harmony-js/crypto". The package may have incorrect main/module/exports specified in its package.json: Failed to resolve entry for package "@harmony-js/crypto". The package may have inco

[2022-08-01 09:33] blockchain-app12 opened #133 "Transaction issue failed when I trying to doing a transaction"
Transaction failed:insufficient funds for gas * price + value.
I using the library in the back-end to sign the transaction.
When I tried a different gas limit (gas-limit: "2100000" & gas-Price: "10000000000") and has a value of :"0.001", it shows the transaction failed issue.

[2022-10-12 23:23] giraffekey commented on #113
I also have this issue with Vite.

[2022-10-12 23:31] giraffekey commented on #113
Replacing all `index.esm.js` with `index.js` manually solves this issue, though this is undone when `node_modules` is deleted.